{% extends 'sample.html' %}

{% block title %}
Востребованность
{% endblock %}

{% block title-1 %}
Востребованность
{% endblock %}

{% block content %}
{{ profession.demand }}
{% endblock %}

{% block picture-1 %}
"https://static.tildacdn.com/tild3962-6466-4430-b463-643861303465/960x0_1.jpg"
{% endblock %}

{% block picture-2 %}
"https://www.profguide.io/images/article/a/11/-tdEBsd9Vk.jpg"
{% endblock %}

{% block picture-3 %}
"https://www.profguide.io/images/article/a/11/coT2AzBUHC.jpg"
{% endblock %}