{% extends 'sample.html' %}

{% block title %}
География
{% endblock %}

{% block title-1 %}
География
{% endblock %}

{% block content %}
{{ profession.geography }}
{% endblock %}

{% block picture-1 %}
"https://filearchive.cnews.ru/img/book/2022/04/29/screen-shot-2017-08-14-at-10.05.59-am.png"
{% endblock %}

{% block picture-2 %}
"https://intercollege.su/netcat_files/userfiles/pexels-photo-3769138.jpeg"
{% endblock %}

{% block picture-3 %}
"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS6I01kBofXpFYx69FeFZIOdOga533WTjWaDPnYOuGqC__gRjzi4NQ2OQAbOiAPUdZNNw&usqp=CAU"
{% endblock %}